.DS_Store
*.log
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# python code coverage
.coverage
*,cover

# misc
notes.md

# NASA media files
python/api/api_data/

# local files
/local/

# local data
sample_data/