/* ------------------------------------------------------------------------------------------------------------ */
/* https://gist.github.com/kawsaramin101/5f7c2f0c48c534d8a44e6cfb5e246aa3 */
/* ------------------------------------------------------------------------------------------------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6b97f6;
    background-image: url('/static/img/background.jpg');
    background-size: cover; /* Optional: adjust image size */
    background-repeat: no-repeat; /* Optional: prevent image tiling */
    background-attachment: fixed; /* Optional: keep the background image fixed during scrolling */
}

.poll{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffff;
    border-radius: 25px;
    box-shadow: -2px -2px 5px #00000040,
                 3px 3px 7px #00000040;
}

.poll .question{
    padding: 20px;
    color: #111;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}

.poll .answers{
    padding: 20px;
}

.poll .answers .answer{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.poll .answers .answer.selected{
    border: 2px solid #8f9fe8;
}

.poll .answers .answer span.percentage_value
{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    color: #111;
    font-size: 15px;
}

.poll .answers .answer span.percentage_bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #97b5f5;
    z-index: -2;
    transition: width 200ms ease-in-out;
}