Django==3.2.10      # web development
# lxml==4.6.2
matplotlib==3.9.4   # plotting
paramiko==3.4.0     # netowrk scanning
pdf2image==1.17.0   # to convert pdf to jpg
PyAutoGUI==0.9.54   # afk
PyPDF2==3.0.1       # to combine PDFs
reportlab==4.3.1    # Canvas to create PDFs
requests==2.32.3
scapy==2.5.0        # network scanning

# nasa api
imageio==2.37.0

# unittesting
coverage==7.7.0
